@import url("https://use.typekit.net/jlz3qig.css");

.italic-sub-headers {
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.9px;
}

.paragraph-text {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 22px;
}

.header-text {
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 1px;    
}