body {
    font-family: "questa-grande", serif;
    font-style: normal;
    font-weight: "light";
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

.main-content {
    width: 800px;
    margin: auto;
}