.quote-card {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 50px 0px;
    border-top: 1px solid $light-blue;
    &:first-child {
        border: none;
    }
    .details {
        width: 140px;
        .page-num {
            margin-left: 20px;
            font-size: 12px;
        }
    }
    .text {
        @extend .paragraph-text;
        font-style: italic;
        width: 680px;
    }
}