.author-details  {
    width: 710px;
    .details {
        position: sticky;
        top: 0px;
        background-color: white;
        padding-top:40px;        
        h2 { 
            @extend .header-text;
            text-align: right;
            padding-bottom: 5px;
        }
        .bar {
            @extend .italic-sub-headers;
            display: flex;
            border-bottom: solid 1px $light-blue;
            justify-content: space-between;
            padding-bottom: 15px;
            margin-left: 15px;
        }
    }
    .books {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        justify-content: flex-end;
        .cover {
            background-color: #F8F8F8;
            margin: 15px 0px 0px 12px;
            height: 180px;
            width: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: $dark-blue;
        }
    }
    .caret-row {
        margin-right: 5px;
        text-align: right;
        font-size: 30px;
        color: $dark-blue;
    }
}